{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}


      <h1 class="my-4">{% trans 'Users' %}</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% trans 'Username' %}</th>
      <th>{% trans 'Full name' %}</th>
      <th>{% trans 'Creation date' %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.fullname }}</td>
        <td>{{ user.created_at }}</td>
        <td>
          <a href="{% url 'users:edit_user' pk=user.pk %}" previewlistener="true">{% trans 'Update' %}</a>
          <br>
          <a href="{% url 'users:delete_user' pk=user.pk %}" previewlistener="true">{% trans 'Delete' %}</a>
        </td>
      </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

