{% extends "base.html" %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">Изменение пользователя</h1>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ f.id_for_label }}">{{f.label}} </label>
            {% if f.label == "Имя пользователя" %}

                {{ f }}

            <div class="form-text">
                Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.
            </div>
            {% elif f.label == "Пароль" %}

                {{ f }}

             <div class="form-text">
                <ul>
                    <li>Ваш пароль должен содержать как минимум 3 символа.</li>
                </ul>
            </div>


            {% elif f.label == "Подтверждение пароля" %}

                {{ f }}

            <div class="form-text">
                Для подтверждения введите, пожалуйста, пароль ещё раз.
            </div>


            {% else %}
                {{ f }}
            {% endif %}
        </div>
        <div class="form-error">{{ f.errors }}</div>

        {% endfor %}

        <p>
            <button class="btn btn-primary btn-lg" type="submit">Изменить</button>
        </p>
    </form>
    </div>
{% endblock %}