{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}

    <h1 class="my-4">{% trans 'Enter' %}</h1>

    <form method="post">
        {% csrf_token %}
        <ul class="list-unstyled text-danger">
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>

        {% for f in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>
            {{ f }}
        </div>
        <ul class="list-unstyled text-danger">
            {% for error in f.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>

        {% endfor %}
        {% bootstrap_button button_text button_type="submit" button_class="btn btn-primary" %}
<!--        <button class="btn btn-primary" type="submit">Войти</button>-->

    </form>

{% endblock %}