{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">  {% trans 'Register' %}</h1>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>
            {% if f.label == "Имя пользователя" %}

                {{ f }}

            <div class="form-text">
                {% trans 'Required field. No more than 150 characters. Only letters, numbers and @/./+/-//_ symbols' %}
            </div>
            {% elif f.label == "Пароль" %}

                {{ f }}

             <div class="form-text">
                <ul>
                    <li>{% trans 'Your password must contain at least 3 characters.' %}</li>
                </ul>
            </div>


            {% elif f.label == "Подтверждение пароля" %}

                {{ f }}

            <div class="form-text">
                {% trans 'Please enter your password again to confirm.' %}
            </div>


            {% else %}
                {{ f }}
            {% endif %}
        </div>
        <div class="form-error">{{ f.errors }}</div>

        {% endfor %}

        <p>
            <button class="btn btn-primary btn-lg" type="submit">{% trans 'Sign up' %}</button>
        </p>
    </form>
    </div>
{% endblock %}