<footer class="p-3 text-bg-dark">
    <div class="container my-5 pt-4 border-top">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" previewlistener="true">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ">
          <li><a target="_blank" href="https://ru.hexlet.io"  previewlistener="true" class="nav-link px-2 text-white">hexlet</a></li>
        </ul>

      </div>
    </div>
  </footer>
