{% load i18n %}

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex  mb-2 mb-lg-0 text-white text-decoration-none" previewlistener="true">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <a class="navbar-brand fs-4 me-5" href="/" previewlistener="true">{{ logo }}</a>
            <ul class=" nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="{% url 'users:users_index' %}"
                       class="nav-link px-2 {% if current_page == 'users_index' %}text-secondary {% else %} text-white {% endif %}">
                        {% trans "Users" %}</a>
                </li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'statuses:all_statuses' %}"
                       class="nav-link px-2 {% if current_page == 'statuses' %}text-secondary {% else %} text-white {% endif %}">{% trans "Statuses" %}</a></li>
                <li><a href="{% url 'labels:all_labels' %}"
                       class="nav-link px-2 {% if current_page == 'labels' %}text-secondary {% else %} text-white {% endif %}">{% trans "Tags" %}</a></li>
                <li><a href="{% url 'tasks:tasks' %}"
                       class="nav-link px-2 {% if current_page == 'tasks' %}text-secondary {% else %} text-white {% endif %}">{% trans "Tasks" %}</a></li>
                {% endif %}
                </ul>

                {% if not user.is_authenticated %}
                <div class="text-end">
                    <a href="{% url 'users:login' %}" class="btn btn-outline-light me-2">{% trans "login" %}</a>
                    <a href="{% url 'users:register' %}" class="btn btn-warning">{% trans "sigh up" %}</a>
                </div>
                {% else %}
                <div class="text-end text-white fw-bold">
                     {% trans 'Hello' %}, {{ user.username }} |
                </div>
                <ul class=" nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'users:logout' %}" class="nav-link px-2 text-white">{% trans ' logout' %}</a></li>
                </ul>
                {% endif %}
        </div>
    </div>
</header>